<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
<!--    Give the path of the DBMS driver-->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!--    Give the path of the DBMS's database(like in the DBConnection class)-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
<!--    DBMS username-->
    <property name="hibernate.connection.username">root</property>
<!--    DBMS Password-->
    <property name="hibernate.connection.password">Banda@321</property>
<!--    By giving the true value we can see a terminal output of our query-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  </session-factory>
</hibernate-configuration>